<!DOCTYPE html>
<head>
    <title>View Person</title>
</head>
<body>
    <h1>{{ person.Name }}</h1>
    <a href="{{ url_for('edit_person', person_id=person.Id) }}">Edit</a>
    <a href="{{ url_for('delete_person_route', person_id=person.Id) }}">Delete</a>

    <h2>Aliases</h2>
    <ul>
        {% for alias in aliases %}
            <li>{{ alias.Alias }}</li>
        {% endfor %}
    </ul>

    <h2>Emails</h2>
    <ul>
        {% for email in emails %}
            <li>{{ email.MetadataSubject }}: {{ email.ExtractedBodyText }}</li>
        {% endfor %}
    </ul>

    <a href="{{ url_for('main') }}">Back to Home</a>
</body>
</html>